body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-flow{
  overflow: unset;
}

.react-flow__minimap{
  position: initial;
}
.react-flow {
  height: 80vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.diagram-component{
  height: 90vh;
  overflow: auto;
}
.overview-component {
  height: 200px !important;
  width: 400px !important;
  z-index: 99;
  position: absolute;
  right: 5px;
  bottom: 50px;
  width: 150px;
  height: 100px;
  background-color: aliceblue;
  border: 1px solid black;
}
